.home{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.autotypetxt{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50%
    
}
.mynav{
    width: 100%;
    height:7vh;
    font-size: 1.3rem;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    opacity: 1;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 20;
    
}
.mysidenav{
    width: 200px;
    height:100vh;
    display: none;
    top: 0;
    right: 0;
    flex-direction: column;
    font-size: 1.3rem;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    opacity: 1;
    position: fixed;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: flex-start;
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 20;
}

.rahul {
    padding: 10px 50px;
    font-size: 1.15rem;
    margin-left: 1%;
    color: #fff;
    background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    white-space: nowrap;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }

.navmenu{
    display: flex;
    justify-content: space-around;
    width: 15%;
    height: 50%;
    margin-right: 10%;
    font-size: 1.7rem;
    
    
}
.sidenavmenu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    font-size: 1.7rem;
}
.navhome{
    color: #e9e9e9;
    transition: all .2s ease-in-out;
}
.navhome:hover{
    color: orangered;
    transform: scale(1.4);
}
.navabout{
    transition: all .2s ease-in-out; 
}
.navabout:hover{
    color: orangered;
    transform: scale(1.4);
}
.navskill{
    transition: all .2s ease-in-out; 
}
.navskill:hover{
    color: orangered;
    transform: scale(1.4);
}
.navexp{
    transition: all .2s ease-in-out; 
   
}
.navexp:hover{
    color: orangered;
    /* transition-delay: 0.3s; */
    transform: scale(1.4) rotate(180deg);
}
.navcontact{
    transition: all .2s ease-in-out; 
}
.navcontact:hover{
    color: orangered;
    transform: scale(1.4);
}
/* .menu{

} */


.snavhome{
  font-size: 50px;
  margin-top: 10px;
  color: #e9e9e9;
  transition: all .2s ease-in-out;
}
.snavhome:hover{
  color: orangered;
  transform: scale(1.4);
}
.snavabout{
  font-size: 50px;
  margin-top: 10px;
  transition: all .2s ease-in-out; 
}
.snavabout:hover{
  color: orangered;
  transform: scale(1.4);
}
.snavskill{
  font-size: 50px;
  margin-top: 10px;
  transition: all .2s ease-in-out; 
}
.snavskill:hover{
  color: orangered;
  transform: scale(1.4);
}
.snavexp{
  font-size: 50px;
  margin-top: 10px;
  transition: all .2s ease-in-out; 
 
}
.snavexp:hover{
  color: orangered;
  /* transition-delay: 0.3s; */
  transform: scale(1.4) rotate(180deg);
}
.snavcontact{
  font-size: 50px;
  margin-top: 10px;
  transition: all .2s ease-in-out; 
}
.snavcontact:hover{
  color: orangered;
  transform: scale(1.4);
}

/* <------- this is for Dark mode -------> */

label{
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 3%;
    border-radius: 50%;
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    position: absolute;
    opacity: 0;
}
.sun{
    font-size: 1.7rem;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.7));
    position: absolute;
    transform: scale(0);
    transition: 1s ease;
}
input:checked~.sun{
    transition-delay: 0.3s;
    transform:  scale(1) rotate(360deg);
}
.moon{
    font-size: 1.7rem;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.7));
    transition: 1s ease;
}
input:checked~.moon{
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}
.toggel{
    position: absolute;
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #080C17;
    border-radius: 50%;
    box-shadow: 
    inset 0 8px 10px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: 1s;
}
input:checked~.toggel{
    background-color: #65E1E7;
}
.collapmenu{
    opacity: 1;
}

/* <------- this is for Dark mode -------> */

@media (max-width: 300px){
    .mynav{
        width: 100%;
        height: 7vh;
        background:pink;
        opacity: 1;
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px)
    }

}

.elementbg{
  position: absolute;
  top: 50% importent;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  z-index: -1;
}
.elementbg1{
  width: 27%;
  height: 60%;
  border-radius: 999px;
  background-color: red;
  position: relative;
  opacity: .5;
  filter: blur(50px);
  /* background-color: rgba(0, 244, 165); */
  background-color: rgba(30, 0, 255);
  animation: one 10s infinite;
}
.elementbg2{
  width: 15%;
  height: 30%;
  border-radius: 999px;
  opacity: .5;
  filter: blur(50px);
  /* background-color: rgba(0, 230, 203); */
  background-color: rgba(225, 72, 173);
  position: relative;
  animation: two 10s infinite;
}
.elementbg3{
  width: 27%;
  height: 60%;
  border-radius: 999px;
  opacity: .5;
  filter: blur(50px);
  /* background-color: rgba(0, 220, 233); */
  background-color: rgba(140, 0, 215);
  position: relative;
  position: relative;
  animation: one 10s infinite;
}

@keyframes one {
  0%{ left:0px;top: 0px;}
  25%{ left:-100px;top: 70px; }
  50%{ left:20px;top: 150px;}
  75%{ left:50px;top: 100px;}
  100%{ left:0px;top: 0px;}
}
@keyframes two {
  0%{ left:0px;top: 0px;}
  25%{ left:50px;top: 10px; }
  50%{ left:100px;top: 50px;}
  75%{ left:50px;top: 100px;}
  100%{ left:0px;top: 0px;}
}
@media (max-width:320px){
  .navmenu{
    display: none;   
}
.rahul {
  padding: 10px 50px;
  font-size: 1.15rem;
  margin-left: 0%;
  transform: translateX(-40px);
  color: #fff;
  background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

}